@charset "UTF-8";

<style>       
.starR1 {
   background:
      url('<%=request.getContextPath()%>/resources/img/ico_review.png')
      no-repeat -52px 0;
   background-size: auto 100%;
   width: 15px;
   height: 30px;
   float: left;
   text-indent: -9999px;
   cursor: pointer;
}

.starR2 {
   background:
      url('<%=request.getContextPath()%>/resources/img/ico_review.png')
      no-repeat right 0;
   background-size: auto 100%;
   width: 15px;
   height: 30px;
   float: left;
   text-indent: -9999px;
   cursor: pointer;
}

.starR1.on {
   background-position: 0 0;
}

.starR2.on {
   background-position: -15px 0;
}
</style>